/* QUIZ STYLES */
/* Styles to prettify the quiz page */

html {
    min-height: 100vh;
}

body {
    background-color: #069BF3;
    background-image: url("../assets/imgs/clouds.jpg");
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}

body.bg-transparent {
    background-color: transparent;
    background-image: none;
}

nav {
    opacity: 0;
}

nav .desktop {
    width: 90px;
    background-color: rgba(49, 49, 49, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .desktop .top,
nav .desktop .bottom {
    text-align: center;
}

nav .desktop .top {
    padding-top: 22px;
}

nav .desktop .top img {
    width: 45px;
}

nav .desktop .bottom {
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
}

nav .desktop .bottom a:not(:first-child) {
    margin-top: 20px;
}

nav .mobile {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}

nav .mobile .brand {
    margin-left: 20px;
    margin-top: 20px;
    width: 34px;
}

section.info-btn {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 46px 32px 0;
    z-index: 2;
}

section.info-btn > a {
    display: none;
}

section.info-btn.opened .btn-info-close {
    display: block;
}

section.info-btn:not(.opened) .btn-info-open {
    display: block;
}

section.info-btn.opened + section.info {
    display: block;
}

section.info {
    position: absolute;
    display: none;
    bottom: 170px;
    right: 46px;
    width: 368px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 68vh;
    overflow-y: auto;
}

section.info .block {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    box-shadow: 0 0 2px 0 gray;
    border-radius: 6px;
    border-top: 6px solid #B9B9B9;
    padding: 22px 10px;
    margin-bottom: 34px;
}

section.info .block.green {
    border-top: 6px solid #41E090;
}

section.info .block.blue {
    border-top: 6px solid #059bF2;
}

section.info .block .header {
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    margin-bottom: 18px;
}

section.info .numbers .body {
    direction: ltr;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
}

section.info .numbers .body span {
   color: #41E090;
}

section.info .advices .header {
    color: #059bF2;
}

section.info .advices .body {
    font-size: 18px;
    line-height: 24px;
}

section.info .advices .body ul {
    list-style: disc;
    margin-right: 16px;
}

section.info .advices .body ul li {
    margin-top: 28px;
}

section.info .socials {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

body.bg-transparent section.news {
    opacity: 0 !important;
}

section.news {
    opacity: 0;
    transform: translateY(100%);
    font-family:'Tajawal',sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 90px - 1px);
    height: 50px;
    padding-top: 30px;
    background-color: rgba(49, 49, 49, .2);
    border-top: 1px solid rgba(255, 255, 255, .5);
    overflow: hidden;
}

section.news:after {
    content: 'أخبار';
    display: block;
    background-color: #a44d4d;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 30px 20px;
    color: #fff;
}

section.news .content {
    color: #fff;
}

main {
    opacity: 0;
    transform: translateY(-100%);
    font-family: 'Tajawal', sans-serif;
    color: #fff;
    text-align: center;
    height: calc(100vh - 80px - 1px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 90px;
}

main .header {
    direction: rtl;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    margin-bottom: 12px;
}

main small {
    font-weight: normal;
    font-size: 18px;
}

main .stats {
    display: flex;
    justify-content: center;
    margin-top: 74px;
}

main .stat {
    width: 320px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
    background-color: rgba(24, 127, 214, 0.2);
    transition: background-color 500ms;
}

main .stat:hover {
    background-color: rgba(24, 127, 214, 0.5);
}

main .stat:not(:first-child) {
    margin-left: 76px;
}

main .stat-header {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 8px;
    padding-top: 8px;
}

main .stat-header:after {
    content: '';
    position: absolute;
    width: 75%;
    height: 1px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

main .stat-header h2 {
    margin: 0;
    font-size: 24px;
    margin-right: 18px;
}

main .stat h1 {
    font-family: 'Teko', sans-serif;
    font-size: 67px;
    margin: 0;
    margin-top: 10px;
    display: none;
}

main .stat .loader {
    margin-top: 10px;
    width: 67px;
}

main .quizes {
    margin-top: 64px;
}

main .quizes.mobile {
    display: none;
}

main .quizes a {
    font-family: 'Tajawal', sans-serif;
    font-size: 22px;
    color: #069BF3;
    background-color: #fff;
    border-radius: 50px;
    padding: 34px 76px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

main .quizes a:after {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    box-shadow: 0 0 30px #000;
    z-index: -1;
    border-radius: 50px;
    transition: all 1s;
}

main .quizes a:hover:after {
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
}

main .quizes a:first-child {
    margin-right: 30px;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}


/* media rules */

@media only screen and (max-width: 1366px) {

    section.info-btn {
        padding: 0 12px 32px 0;
    }

    section.info-btn > a img {
        width: 78px;
    }

    section.info {
        bottom: 120px;
        right: 16px;
    }

    main .header {
        font-size: 30px;
    }

    main small {
        display: none;
    }

    main .stats {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }

    main .stat:not(:first-child) {
        margin: 0;
    }

    main .stat:not(:last-child) {
        margin-top: 32px;
    }

    main .stat {
        width: 256px;
        padding: 10px 0;
    }

    main .stat .loader {
        width: 54px;
    }

    main .stat-header h2 {
        font-size: 18px;
        margin-right: 12px;
    }

    main .stat-header img {
        height: 16px;
    }

    main .stat h1 {
        font-size: 54px;
    }

    main .quizes {
        margin-top: 38px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    main .quizes a:first-child {
        margin: 0;
    }

    main .quizes:not(.mobile) a:last-child {
        margin-bottom: 30px;
    }

    main .quizes a {
        font-size: 18px;
        padding: 32px 64px;
    }

    canvas {
        display: none;
    }

}

@media only screen and (max-width: 576px) {

    nav .desktop {
        display: none;
    }

    nav .mobile {
        display: block;
    }

    section.info-btn {
        padding: 20px 16px 0 0;
        z-index: 2;
        top: 0;
        bottom: unset;
    }

    section.info-btn > a img {
        width: 38px;
    }

    section.info {
        top: 0;
        right: 0;
        width: calc(100% - 20px - 20px);
        height: calc(100% - 20px - 80px);
        max-height: none;
        border-radius: 0;
        padding-top: 80px;
    }

    section.info .socials {
        display: flex;
    }

    section.news {
        right: unset;
        width: 100%;
    }

    main {
        margin: 0;
    }

    main .header {
        font-size: 20px;
    }

    main .stat:not(:last-child) {
        margin-top: 20px;
    }

    main .stat {
        width: 178px;
    }

    main .stat .loader {
        width: 38px;
    }

    main .stat-header h2 {
        font-size: 14px;
        margin-right: 8px;
    }

    main .stat-header img {
        height: 12px;
    }

    main .stat h1 {
        font-size: 38px;
    }

    main .quizes {
        margin-top: 26px;
        display: none;
    }

    main .quizes.mobile {
        display: block;
    }

    main .quizes a {
        font-size: 14px;
        padding: 22px 48px;
    }

    main .quizes a:first-child {
        margin-right: 16px;
    }

}

